*{
    box-sizing: border-box;
}

html { 
    scroll-behavior: smooth; 
}

h1{
    text-align:center;
}

h2{
    text-align: center;
}

h3{
    color:rgb(39, 30, 81);
}

.notes{
    background-color: rgba(208, 218, 119, 0.526); 
    border: 2px solid rgb(100, 83, 9) ;
}

.example{
    background-color:rgba(60, 79, 64, 0.522);
    border: 2px solid rgb(15, 39, 21);
    padding: 15px;
}

body{
    margin-left: 10%;
    margin-right: 10%;
    height: 100vh;
}

img{
    max-width: 100%;
}

.upward{
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 70px;
    height: 70px;
    background: url(img/pngegg.png);
    background-size: cover;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}

.upward.active{
    visibility: visible;
    opacity: 1;
}

.margin{
    margin: 15px;
}

a:link, a:visited {
    /* background-color: #f44336; */
    color: white;
    /* padding: 15px 25px; */
    text-align: center;
    text-decoration: none;
    /* display:contents; */
}
  
a:hover, a:active {
    background-color: rgb(15, 39, 21);
}

table, th, td {
    border:1px solid black;
  }