*{
    box-sizing: border-box;
}

html { 
    scroll-behavior: smooth; 
}

h1{
    font-size: 50px;
    text-align:center;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 0%;
    margin-right: 0%;
}

h2{
    text-align: center;
}

h3{
    color:rgb(39, 30, 81);
}

.notes{
    background-color: rgba(208, 218, 119, 0.526); 
    border: 2px solid rgb(100, 83, 9) ;
}

.example{
    background-color:rgba(60, 79, 64, 0.522);
    border: 2px solid rgb(15, 39, 21);
    padding: 15px;
}

body{
    background-color: rgb(92, 154, 104);
}

body{
    margin-left: 10%;
    margin-right: 10%;
    height: 100vh;
}

img{
    max-width: 100%;
}

.upward{
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 70px;
    height: 70px;
    background: url(img/pngegg.png);
    background-size: cover;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}

.upward.active{
    visibility: visible;
    opacity: 1;
}

.margin{
    margin: 15px;
}

a:link, a:visited {
    /* background-color: #f44336; */
    color: white;
    /* padding: 15px 25px; */
    text-align: center;
    text-decoration: none;
    /* display:contents; */
    transition: 0.4s;
}
  
a:hover, a:active {
    transition: 0.2s;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(15, 39, 21, 0.763);
}

table, th, td {
    border:1px solid black;
  }

.t th, .t td {
    border: 5px solid rgb(92, 154, 104);
}

.t1 th, .t1 td {
    border-radius: 10px;
}

.t2 th, .t2 td {
    border-style: dotted;
}

/* .textcols {
	column-width: 40%;
	column-count: 5;
	column-gap: 4%;
	background: #fff2e1;
} */

.textcols {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}
.textcols-item {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	height: 48%;
	/* background: #fff2e1; */
}
.textcols-item + .textcols-item {
	margin-left: 4%;
}